<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Student Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Type</th>
              <th>Opration</th>
              
            </tr>
          </thead>
         
          <tbody>
            <tr>
              <td>Student</td>
              <td>
               <div class="col-sm-3 col-lg-6">
                <a href="#" class="btn btn-success btn-icon-split ml-3 mt-3">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text">View</span>
                  </a>
                  </div>

                 <div class="col-sm-3 col-lg-6">
                <a href="#" class="btn btn-primary btn-icon-split ml-3 mt-3">
                    <span class="icon text-white-50">
                      <i class="fas fa-flag"></i>
                    </span>
                    <span class="text">Update</span>
                  </a>
                  
                  </div>
                
                  <div class="col-sm-3 col-lg-6">
                  <a href="#" class="btn btn-danger btn-icon-split ml-3 mt-3">
                    <span class="icon text-white-50">
                      <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">Delete</span>
                  </a>
                  </div>                   

                

              </td>
              
            </tr>
            <tr>
            </tr>
        </tbody>


        <tbody>
            <tr>
              <td>Student</td>
              <td>
               <div class="col-sm-3 col-lg-6">
                <a href="#" class="btn btn-success btn-icon-split ml-3 mt-3">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text">View</span>
                  </a>
                  </div>

                 <div class="col-sm-3 col-lg-6">
                <a href="#" class="btn btn-primary btn-icon-split ml-3 mt-3">
                    <span class="icon text-white-50">
                      <i class="fas fa-flag"></i>
                    </span>
                    <span class="text">Update</span>
                  </a>
                  
                  </div>
                
                  <div class="col-sm-3 col-lg-6">
                  <a href="#" class="btn btn-danger btn-icon-split ml-3 mt-3">
                    <span class="icon text-white-50">
                      <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">Delete</span>
                  </a>
                  </div>                   

                

              </td>
              
            </tr>
            <tr>
            </tr>
        </tbody>

        <tbody>
            <tr>
              <td>Student</td>
              <td>
               <div class="col-sm-3 col-lg-6">
                <a href="#" class="btn btn-success btn-icon-split ml-3 mt-3">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text">View</span>
                  </a>
                  </div>

                 <div class="col-sm-3 col-lg-6">
                <a href="#" class="btn btn-primary btn-icon-split ml-3 mt-3">
                    <span class="icon text-white-50">
                      <i class="fas fa-flag"></i>
                    </span>
                    <span class="text">Update</span>
                  </a>
                  
                  </div>
                
                  <div class="col-sm-3 col-lg-6">
                  <a href="#" class="btn btn-danger btn-icon-split ml-3 mt-3">
                    <span class="icon text-white-50">
                      <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">Delete</span>
                  </a>
                  </div>                   

                

              </td>
              
            </tr>
            <tr>
            </tr>
        </tbody>
       
        
       

      </table>
    </div>
 </div> </div>
                
